{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Blake Blog</h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
            {% for post in posts %}
                <div>
                    <h2><a href="{{ post.path }}">
                        {{ post.title }}
                    </a></h2>
                    <small>{{ post.date }}</small>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
